body{
    background-image: url("ba.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}
h1{
    background-color: aqua;
    color: black;
  }
#rin
{
    color:indigo;
}
h3{
    background-color: slategrey;
    color: yellow;
}